<!doctype html>
<html ng-app>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>CV</title>
    <link rel='stylesheet' href='app/css/cv.css'>
</head>

<body ng-controller='CvCtrl'>

    <!-- document structure can be created on the fly by nesting for example ng-model='profile.aaa.bbb.ccc'
        will create profile: {aaa: {bbb: {ccc: "..."}}}
    -->
    <div class='profile' contenteditable ng-model='profile.section1'>
    </div>

    <add-section></add-section>


    <br><br>profile.section2 = {{profile.section2}}

    <!-- dynamically create new elements on page -->

    <script data-main='app/js/main' src='/bower_components/requirejs/require.js'></script>
</body>

</html>